<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Persons</h1>
<table class="table table-dark">
<tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
</tr>

    {% for p in persons %}
    <tr>
        <td>{{ p.first_name }}</td>
        <td>{{ p.last_name }}</td>
        <td><a href="http://localhost:8000/edit_person/{{ p.id }}">Edit</a></td>



    </tr>
    {% endfor %}

</table>
<h3><a href="http://localhost:8000/add_person">Add Person</a></h3>

</body>
</html>